### Map Funtion

In [1]:
def sqaure(num):
    return num*num

In [3]:
number = [1,2,3,4]

list(map(sqaure,number))

[1, 4, 9, 16]

In [4]:
# Lambda with map funtions

list(map(lambda num:num*num,number))

[1, 4, 9, 16]

In [5]:
# Map Multiple Iterables

number1=[1,2,3]
number2=[7,8,9]

added = list(map(lambda a,b:a+b,number1,number2))
print(added)

[8, 10, 12]

In [6]:
def get_name(person):
    return person['name']

people=[
    {"name":"Pratyaksh", "age":22, "city": "Delhi"},
    {"name":"Soham", "age":24, "city": "Kolkata"},
]

list(map(get_name,people))

['Pratyaksh', 'Soham']