## Data Structures

- List: Ordered, mutable
- Tuple: Ordered, immutable
- Set: Unordered, unique elements
- Dictionary: Key-value pairs

In [ ]:
# List 

a=[1,2,3,4,5,6]
name = ['Sam','Ram','Tom','Sunny']
mix = ['krish','Pratyaksh',1,5.9,True]
name2 = ['Sam','Ram','Tom','Sunny']

type(a)

#Accessing the list elements

print(a)
print(name)
print(mix)
print(a[2])
print(a[1:3])
print(name[-1])
print(mix[1:])
print(name[:3])

In [ ]:
#Modifing the elements

a[1]=7
name[2]='Soham'
name2[1:]="Pratyaksh"

In [ ]:
#List Methods

a.append(9)
a.insert(1,7)
name.insert(2,"Jai")
name.remove("sam")

x = a.pop()
print(x)
print(a)

a.sort()
print(a)

a.reverse
print(a)

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in num:
    print(number)